.container {
  display: flex;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  overflow: hidden;
  font-family: "Segoe UI", Roboto, sans-serif;
  padding: 10px;
  gap: 10px;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  overflow: hidden; /* removes scrollbars */
  scrollbar-width: none;
}